body
{
	/* background: url('pic4.jpg');
	background-size: cover; */
	font-family: Arial;
	color: white;
}

ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li
{
	float: left;
	width:163px;
	height: 40px;
	background-color: black;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 2px;
}

ul li a
{
	text-decoration: none;
	color: white;
	display: block;
}

ul li a:hover
{
	background-color: green;
}

ul li ul li
{
	display: none;
}

ul li:hover ul li
{
	display: block;
}

.logo

{
	height: 40px;
	width:43px;
}

Slider
{
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  overflow: hidden;
  position: absolute;
	z-index: -10;
}

slider > *
{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  animation: slide 12s infinite;
  overflow: hidden;
}

slide:nth-child(1)
{
  left: 0%;
  animation-delay: -1s;
  background-image: url(clothes.jpg);
  background-size: cover;
  background-position: center;
}

slide:nth-child(2)
{
  animation-delay: 2s;
  background-image: url(company-apparel-store.jpg);
  background-size: cover;
  background-position: center;
}

slide:nth-child(3)
{
  animation-delay: 5s;
  background-image: url(depositphotos_200317662-stock-video-womens-clothing-store.jpg);
  background-size: cover;
  background-position: center;
}

slide:nth-child(4)
{
  left: 0%;
  animation-delay: 8s;
  background-image: url(t-shirts-on-rack-with-room-for-text-2_free_stock_photos_picjumbo_DSC03795-1570x1047.jpg);
  background-size: cover;
  background-position: center;

}

slide a
{
	border: 2px;
  font-family: Comfortaa;
  font-size: 70px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 340px;
  color: green;
}

@keyframes slide
{
  0% {left: 100%; width:100%;}
  5% {left: 0%;}
  25% {left: 0%;}
  30% {left: -100%; width:100%;}
  30.0001% {left: -100%; width:0%;}
  100% {left: 100%; width:0%;}
}
